---
import { getColor, type ColorRating } from "./getColor";

interface Props {
  colorRating: ColorRating;
  isActive: boolean;
}
const { colorRating, isActive } = Astro.props;
---

<div
  style={{
    display: "inline-block",
    borderRadius: "8px",
    borderStyle: "solid",
    borderColor: "rgba(0, 0, 0, 0.8)",
    borderWidth: isActive ? "4px" : "1px",
    boxSizing: "border-box",
    width: "2rem",
    height: "2rem",
    backgroundColor: getColor(colorRating),
  }}
>
</div>
