---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home" description="Bence Nagy (underyx) - Software engineer at Anthropic. Interested in rationality, video games, and design. Get in touch with your hardest problems!">
  <p>Heya! Introductions are hard, we can get right to it.</p>
  <p>
    I&rsquo;m Bence Nagy. I usually go by &lsquo;underyx&rsquo; online.
    Currently working at{" "}
    <a href="https://anthropic.com">Anthropic</a> as a Member of Technical Staff.
  </p>
  <p>
    I keep getting lost in trying new things. But a couple interests that have
    stayed with me for a longer time are rationality, video games, and design.
  </p>
  <p>
    I do also have a request for you, dear reader: please contact me with
    whatever problem you&rsquo;re facing right now. Even if you think I cannot
    help with it. The harder, the better. Seriously, I love difficult problems.
    Thank you!
  </p>
</Layout>
