---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <p>Heya! Introductions are hard, we can get right to it.</p>
  <p>
    I&rsquo;m Bence Nagy. I usually go by &lsquo;underyx&rsquo; online.
    Currently working on{" "}
    <a href="https://semgrep.dev">Semgrep</a>. Specifically, I&rsquo;m finding
    non-bullshit ways to integrate AI into our product.
  </p>
  <p>
    I keep getting lost in trying new things. But a couple interests that have
    stayed with me for a longer time are rationality, video games, and design.
  </p>
  <p>
    I do also have a request for you, dear reader: please contact me with
    whatever problem you&rsquo;re facing right now. Even if you think I cannot
    help with it. The harder, the better. Seriously, I love difficult problems.
    Thank you!
  </p>
</Layout>
