---
import Layout from "../layouts/Layout.astro";
---

<Layout title="projects">
  <h2>Projects</h2>
  <p>Ideally this would be a list of all the cool things I worked on.</p>
  <p>
    For the time being, please just check them out on{" "}
    <a href="https://github.com/underyx">my GitHub</a>{" "}
     and{" "}
    <a href="https://gitlab.com/underyx">my GitLab</a>{" "}
     profiles.
  </p>
  <p>
    Most recently, I made{" "}
    <a href="https://visawhen.com">VisaWhen to estimate US visa wait times</a>,
    while waiting for my own visa.
  </p>
</Layout>
