---
layout: default
title: Underyx | Profiles
shortname: profiles
icon: user
---

<script src="/assets/js/profiles.js"></script>

<header>
<p>I'm present online on an alarmingly high amount of websites.<br>I'll try and list at least some of those here.</p>
</header>
<section class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h2>Professional</h2>
      <ul>
        {% for profile in site.data.profiles.professional %}
        <li><a rel="me" href="{{ profile.url }}">{{ profile.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h2>Personal</h2>
      <ul>
        {% for profile in site.data.profiles.personal %}
        <li><a rel="me" href="{{ profile.url }}">{{ profile.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h2>Fun</h2>
      <ul>
        {% for profile in site.data.profiles.fun %}
        <li><a rel="me" href="{{ profile.url }}">{{ profile.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
</section>
