<footer>
  <section style={{ textAlign: "left" }}>
    <div>Bence Nagy (underyx)</div>
    <div>
      Technical Staff @{" "}
      <a href="https://anthropic.com/">Anthropic</a>
    </div>
    <div>
      <a href="https://nomadlist.com/@underyx">San Francisco, CA</a>
    </div>
  </section>
  <section style={{ textAlign: "right" }}>
    <div>
      <a href="mailto:nagy@bence.dev">nagy@bence.dev</a>
    </div>
    <div>
      <a href="tel:+1-312-3244236">+1&nbsp;(312)&nbsp;324-4236</a>
    </div>
    <div>
      🦋 <a rel="me" href="https://bsky.app/profile/bence.dev">@bence.dev</a>
    </div>
  </section>
</footer>
<style>
  footer {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(var(--accent-dark));
    display: flex;
  }

  section {
    flex: auto;
    display: inline-block;
    font-size: 0.9rem;
    line-height: 2;
  }
</style>
