---
import Navbar from "./Navbar.astro";
---

<header>
  <a href="/" class="logo">bence.dev</a>
  <Navbar />
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    gap: 1rem;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
</style>
