<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="icon" href="{% asset favicon-32.png @path %}" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="{% asset favicon-152.png @path %}">

    <link rel="canonical" href="https://underyx.me{{ page.url }}" />

    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Hind:400,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

    {% asset 'main.css' %}
    {% contentblock stylesheets %}
  </head>

  <body class="{{ page.shortname | default:layout.shortname }}">

    <section class="site container">
      <header>
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <i class="icon glyphicon glyphicon-{{ page.icon | default:layout.icon }}"></i>
        <nav class="xs-nav hidden-sm-up">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/music">Music</a></li>
          </ul>
        </nav>
      </header>
      <section class="main row">
        <nav class="main-nav hidden-xs-down col-sm-2 col-sm-offset-1">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/music">Music</a></li>
          </ul>
        </nav>
        <section class="content col-sm-8">
          {{ content }}
        </section>
      </section>
      <footer class="row" itemscope itemtype="http://schema.org/Person">
        <div class="col-xs-6 col-sm-4 col-sm-offset-3">
        <p><span itemprop="name"><span itemprop="givenName">Bence</span> <span itemprop="familyName">Nagy</span></span> (<span itemprop="additionalName">underyx</span>)<br><span itemprop="jobTitle">Python Engineer</span> at <a href="https://www.kiwi.com" itemprop="worksFor">Kiwi.com</a><br><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Brno</span></span>, <span itemprop="nationality" itemscope itemtype="http://schema.org/Country"><span itemprop="name">Czech Republic</span></span></p>
        </div>
        <div class="col-xs-6 col-sm-4">
        <p><a href="mailto:bence@underyx.me" itemprop="email">bence@underyx.me</a><br><span itemprop="telephone">+420&nbsp;725&nbsp;511&nbsp;793</span><br>underyx on Freenode</p>
        </div>
      </footer>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      !function(u,n,d,e,r,y,x){u.GoogleAnalyticsObject=d;u[d]||(u[d]=function(){
      (u[d].q=u[d].q||[]).push(arguments)});u[d].l=+new Date;y=n.createElement(e);
      x=n.getElementsByTagName(e)[0];y.src=r;x.parentNode.insertBefore(y,x)}
      (window,document,'ga','script','//www.google-analytics.com/analytics.js');

      ga('create', '{{ site.analytics_id }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% contentblock scripts %}
  </body>
</html>
