<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-152.png">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/path/to/favicon-144.png">

    <link rel="icon" href="/assets/img/favicon-32.png" sizes="32x32">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46190907-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body class="{{ page.shortname }}">
    <section class="site container">
      <header>
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <i class="icon glyphicon glyphicon-{{ page.icon }}"></i>
      </header>
      <section class="main row">
        <nav class="main-nav col-xs-3 col-sm-2 col-sm-offset-1">
          <a href="/">Home</a><br>
          <a href="/profiles">Profiles</a><br>
          <a href="/music">Music</a>
        </nav>
        <section class="content col-xs-9 col-sm-8">
          {{ content }}
        </section>
      </section>
      <footer class="row" itemscope itemtype="http://schema.org/Person">
        <div class="col-xs-6 col-sm-4 col-sm-offset-3">
        <p><span itemprop="name"><span itemprop="givenName">Bence</span> <span itemprop="familyName">Nagy</span></span> (<span itemprop="additionalName">Underyx</span>)<br><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Budapest</span></span>, <span itemprop="nationality" itemscope itemtype="http://schema.org/Country">Hungary</span></p>
        </div>
        <div class="col-xs-6 col-sm-4">
        <p><a href="mailto:underer@gmail.com" itemprop="email">underer@gmail.com</a><br><span itemprop="telephone">+36&nbsp;30&nbsp;493&nbsp;8089</span><br>Underyx on Freenode &amp; QuakeNet</p>
        </div>
      </footer>
    </section>
  </body>
</html>
