---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const title = `bence’s ${Astro.props.title}`;

const hue = Math.max(parseInt(import.meta.env.OURA_SLEEP_SCORE ?? "50") - 30, 0);
const backgroundColor = `hsl(${hue}, 40%, 80%)`
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global define:vars={{ backgroundColor }}>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
    }
    html {
      font-family: system-ui, sans-serif;
      background: var(--backgroundColor);
    }
    body {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: #222;
      font-size: 20px;
      line-height: 1.6;
    }
    a {
      color: rgb(var(--accent-dark));
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
